* {
  margin: 0;
  font-family: Helvetica;
}

.app-root {
  width: 100vw;
  height: 100vh;
  background-color: #eae6df;
}

.register-page-wrapper {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  min-width: 600px;
  max-width: 700px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.register-page-header {
  height: 134px;
  background-color: #00a884;
}

.register-page-header-title {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.register-page-header-title h5 {
  color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}

.register-page-window {
  height: 600px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(11,20,26,.19), 0 12px 15px 0 rgba(11,20,26,.24);
}